* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: gold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 20px;
}
.grid-container>* {
    box-shadow: 10px 6px 37px -13px cornflowerblue;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    font-weight: 500;
}
.grid-container {
    display: grid;
    gap: 20px;
   grid-template:
   "header" 200px
   "navbar" 50px
   "sidebar" 65px
   "main"80px
   "footer"30px;
   .header {
grid-area: header;
background-color: aquamarine;
   } 
   .navbar {
    grid-area: navbar;
    color: darksalmon;
   }
   .sidebar {
    grid-area: sidebar;
    color: deeppink;
   }
   .main{
    grid-area: main;
    color: indigo;
   }
   .footer {
    grid-area: footer;
    color: brown;
   }
   @media (min-width:992px) {
     grid-template:
   "header header header" 100px
   "navbar main sidebar" auto
   "footer footer footer" auto/
   200px auto 200px;
   }
}
