body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    min-height: 100vh;
    flex-direction: column;
}

header{
    background-color: darkcyan;
    color: black;
    padding: 1rem;
    text-align: center;
}

footer{
    background-color: darkcyan;
    color: black;
    text-align: center;
    padding: 1rem;
    margin-top: auto;
}

.main-content{
    display: grid;
    
    gap: 20px;
    padding: 20px 0;
}

nav{
    background-color: darkred;
    padding: 1rem;
    border-bottom: 2px solid;
}

.menu{
    color: rgb(255, 255, 255);
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

p{
    text-align: center;
}

h2{
    text-align: center;
}

center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
